.wrapper {
  background-color: #fff;
  border-radius: 4px;
  overflow: hidden;
  padding: 6px 12px;
}

.defaultControls {
  width: 100%;
  border-collapse: collapse;
}

.defaultControls td {
  padding: 8px;
}
