.wrapper {
  display: flex;
  padding: 18px 8px;
  align-items: center;
  justify-content: center;
}

.title {
  flex: 1 1 auto;
  margin: 0;
}

.action {
  flex: 0 0 auto;
  align-self: flex-start;
  margin-top: -3px;
  margin-right: -6px;
  margin-bottom: -3px;
}
